@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

/* Section 1 */

.section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: 
    radial-gradient(at 67% 4%, rgba(255, 0, 0, 1), transparent 50%),
    radial-gradient(at 40% 26%, rgba(144, 12, 63, 1), transparent 50%),
    radial-gradient(at 0% 50%, rgba(199, 0, 57, 1), transparent 50%),
    radial-gradient(at 71% 54%, rgba(255, 87, 51, 1), transparent 50%),
    radial-gradient(at 0% 100%, rgba(255, 195, 0, 1), transparent 50%),
    radial-gradient(at 80% 100%, rgba(199, 0, 57, 1), transparent 50%),
    radial-gradient(at 0% 0%, rgba(0, 0, 255, 1), transparent 50%); 
}

.section1 .glass-container {
    width: 85vw;
    height: 80vh;
    border-radius: 15px;
    padding: 2rem 1rem;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
} 

.section1 nav {
    color: #fff;
    overflow: hidden;
}

.section1 nav .left{
    float: left;
}

.section1 nav .right {
    float: right;
    display: flex;
    justify-content: space-around;
    width: 25%;
}   

.section1 nav a {
    text-decoration: none;
    color: #fff;
}

.section1 nav a.logo{   
    font-size: 1.3rem;
}

.section1 main {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 60%;
    top: 40%;
    left: 10%;
    transform: translateY(-40%);
}

.section1 main h1 {
    margin: 0;
    color: #fff;
    font-size: 3rem;
    font-weight: 500;
}

.section1 main p {
    color: #fff;
    width: 60%;
    margin: 1.3rem 0;
}

.section1 main button {
    font-size: 1rem;
    height: 2.5rem;
    width: 8rem;
    border-radius: 25px;
    border: none;
    margin: 1rem 0 0 0;
    cursor: pointer;
}

.section1 main button:hover {
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
}

.section1 img {
    position: absolute;
    right: 10%;
    width: max(40vw, 250px);
    height: max(25vw, 150px);
}

@media (max-width: 912px) {
    .section1 main {
        width: 80%;
    }

    .section1 main p {
        width: 100%;
    }

    .section1 img {
        bottom: 10%;
    }
    
}  

/* Section 2 */

.section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image:
    radial-gradient(at 80% 4%, #797ef6, transparent 50%),
    radial-gradient(at 40% 26%, #4adede, transparent 50%),
    radial-gradient(at 75% 46%, #1aa7ec, transparent 50%),
    radial-gradient(at 0% 110%, #FFC700, transparent 50%),
    radial-gradient(at 98% 120%, #c70032, transparent 50%),
    radial-gradient(at 0% -15%, #0000ff, transparent 50%); 
}

.section2 .content {
    width: 40%;
}

.section2 h1 {
    font-size: 2.3rem;
    font-weight: 700;
    color: #fff;
}

.section2 p {
    width: 50%;
    font-size: 1rem;
    color: #fff;
    line-height: 1.3rem;
}

.section2 button {
    background-image: linear-gradient(to right, #4adede, #1aa7ec);
    font-family: inherit;
    font-size: 1rem;
    color: #fff;
    padding: 0.7rem 1.5rem;
    margin: 1rem 0;
    border-radius: 25px;
    border: none;
    cursor: pointer;
}

.section2 .card {
    position: relative;
    width: max(21vw, 250px);
    height: max(30vw, 300px);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.section2 .card img {
    position: absolute;
    height: 100%;
}

@media (max-width: 912px) {

    .section2 {
        flex-direction: column-reverse;
    }

    .section2 .content {
        width: 80%;
    }

    .section2 p {
        width: 90%;
    }
    
} 