@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

/* Section 1 */

.section1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: 
    radial-gradient(at 67% 4%, rgba(255, 0, 0, 1), transparent 50%),
    radial-gradient(at 40% 26%, rgba(144, 12, 63, 1), transparent 50%),
    radial-gradient(at 0% 50%, rgba(199, 0, 57, 1), transparent 50%),
    radial-gradient(at 71% 54%, rgba(255, 87, 51, 1), transparent 50%),
    radial-gradient(at 0% 100%, rgba(255, 195, 0, 1), transparent 50%),
    radial-gradient(at 80% 100%, rgba(199, 0, 57, 1), transparent 50%),
    radial-gradient(at 0% 0%, rgba(0, 0, 255, 1), transparent 50%); 
}

.section1 .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80vw;
    height: 80vh;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
} 

.section1 h1 {
    color: #fff;
    font-size: 3rem;
    font-weight: 500;
}

.section1 button {
    position: relative;
    font-family: inherit;
    font-size: 1rem;
    color: #fff;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: rgba(255, 255, 255, 0.4);
    padding: 0.7rem 1.5rem;
    cursor: pointer;
}

.section1 button::after {
    content: '';
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.2s ease-in;
}

.section1 button:hover {
    color: black;
}

.section1 button:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

/* Section 2 */

.section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image:
    radial-gradient(at 80% 4%, #797ef6, transparent 50%),
    radial-gradient(at 40% 26%, #4adede, transparent 50%),
    radial-gradient(at 75% 46%, #1aa7ec, transparent 50%),
    radial-gradient(at 0% 110%, #FFC700, transparent 50%),
    radial-gradient(at 98% 120%, #c70032, transparent 50%),
    radial-gradient(at 0% -15%, #0000ff, transparent 50%); 
}

.section2 .content {
    width: 40%;
}


.section2 h1 {
    font-size: 2.3rem;
    font-weight: 700;
    color: #fff;
}

.section2 p {
    width: 50%;
    font-size: 1rem;
    color: #fff;
    line-height: 1.3rem;
}

.section2 button {
    background-image: linear-gradient(to right, #4adede, #1aa7ec);
    font-family: inherit;
    font-size: 1rem;
    color: #fff;
    padding: 0.7rem 1.5rem;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    margin: 1rem 0;
}

.section2 .card {
    position: relative;
    height: 30vw;
    width: 20vw;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.section2 .card img {
    position: absolute;
    top: 10%;
    left: -18px;
    height: 80%;
}