* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  height: 100vh;
  background-color: #e0e0e0;
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  width: 65vw;
  border-radius: 100px;
  padding: 70px 60px;
  box-shadow: inset 15px 15px 30px #bebebe,
  inset -10px -10px 30px #ffffff;
}

.outset {
  height: 180px;
  width: 180px;
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow:  20px 20px 40px #bebebe,
               -20px -20px 40px #ffffff;
}

.outset:active {
  transform: translate(1px, 1px);
  box-shadow: none;
}

.inset {
  height: 180px;
  width: 180px;
  border-radius: 50%;
  background: #e0e0e0;
  box-shadow: inset 20px 20px 40px #bebebe,
  inset -20px -20px 40px #ffffff;
}

.inset:hover {
  box-shadow:  20px 20px 40px #bebebe,
  -20px -20px 40px #ffffff;
}
