@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #000;
}

.container {
    display: flex;
    flex-direction: row;
    border: 2px solid white;
    padding: 1rem 2rem;
}

.container h1{
    font-size: 6rem;
    color: #fff;
    margin-left: -1rem;
    text-shadow: -0.6rem 0 0.5rem rgba(0,0,0,0.5);
    transition: margin 0.25s ease-in;
}

.container:hover h1{
    margin-left: 0.15rem;
}

