:root {
    --theme-color: #4c9e9e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('https://images.unsplash.com/photo-1613864601020-ec7288d0a9db?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTY1ODUwMDA5MQ&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080');
    background-size: cover;
}

.overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1));
    z-index: -1;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4rem;
    color: #fff;
}

.nav-links a {
    color: #fff;
}

.logo {
    font-size: 2rem;
}

.menu {
    display: flex;
    gap: 2em;
    font-size: 1.1rem;
}

.menu li {
    padding: 0.4rem 0.9rem;
}

.menu li:hover {
    background-color: var(--theme-color);
    border-radius: 3px;
    transition: 0.3s ease;
}

.cities {
    position: relative;
}

.dropdown {
    position: absolute;
    background-color: var(--theme-color);
    display: none;
    border-radius: 3px;
    top: 2.1rem;
}

.dropdown li {
    padding: 1rem 0.5rem;
    width: 8em;
    text-align: center;
}

.dropdown li:hover {
    background-color: #1f5252;
}

.cities:hover .dropdown{
    display: block;
}

/* Responsive using Checkbox technique*/

input[type=checkbox]{
    display: none;
}

.hamburger {
    display: none;
    font-size: 2rem;
    user-select: none;
}

@media (max-width: 768px) {

    .menu {
        display: none;
        position: absolute;
        background-color: var(--theme-color);
        height: 80%;
        top: 20%;
        right: 0;
        left: 0;
        padding-top: 10%;
        text-align: center;
    }

    .menu > li {
        margin-top: 15px;
    }

    .menu li:hover {
        display: inline-block;
        background-color: #1f5252;
        transition: 0.3s ease;
    }

    input[type=checkbox]:checked ~ .menu {
        display: block;
    }

    .hamburger {
        display: block;
    }

    .dropdown {
        background-color: #1f5252;
        left: 50%;
        top: 30px;
        transform: translateX(35%);
    }

    .dropdown li:hover {
        background-color: #4c9e9e;
        transform: scale(0.97);
    }
}