@import url("https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&display=swap");

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.spinner {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0px 10px;
    animation: morph 2s infinite;
}

@keyframes morph {
    0%, 100% {
        border-radius: 50%;
        transform: rotate(0deg);
        background-color: orange;
    }
    50% {
        border-radius: 0%;
        transform: rotate(180deg);
        background-color: green;
    }
}